.card {
   width: 280px;
   text-align: center;
   margin-bottom: 100px;
   margin-right: 15px;
   &__img {
      width: 100%;
      height: 100%;
   }
   &__name {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 15px;
   }
   &__btn {
      background-color: #e5e5e5;
      border-radius: 10px;
      margin-bottom: 15px;
   }
   &__btn_choose {
      button {
         border-radius: 10px;
         margin: 5px;
         padding: 5px 30px;
         font-size: 18px;
         background-color: #e5e5e5;
      }
   }
   &__btn_size {
      button {
         border-radius: 10px;
         margin: 5px;
         padding: 5px 17px;
         font-size: 17px;
         background-color: #e5e5e5;
      }
   }
   &__price_plus {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
         border: 1px solid salmon;
         background-color: inherit;
         border-radius: 25px;
         color: salmon;
         padding: 8px 15px;
         font-size: 17px;
         font-weight: 600;
      }
   }
   .active {
      background-color: #ffffff;
   }
}

// {props.items.map((obj, id) =>
//    props.setLoading ? (
//       <Skeleton />
//    ) : (
//       <Cards
//          key={id}
//          imageUrl={obj.imageUrl}
//          price={obj.price}
//          title={obj.title}
//          sizes={obj.sizes}
//          types={obj.types}
//       />
//    ),
// )}